/**
* Temp file till the desired styling is worked out.
* I'll use inline styling on the html, so when it's
* built by js users will only need just a js file to use this tool
*/
#color-def-holder {
    display: block;
    z-index: 99999999;
    height: 35px;
    width: 200px;
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    border: 1px solid #b7b7b7;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}

.button-left,
.button-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25px;
    float: left;
    cursor: pointer;
}

.arrow {
    height: 5px;
    width: 5px;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
}

.button-left .arrow {
    transform: rotate(-135deg);
}

.button-right .arrow {
    transform: rotate(45deg);
}

.color-def {
    height: 100%;
    width: 150px;
    position: relative;
    float: left;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5px;
}